<footer class="mt-16">
    <div class="container mx-auto px-4">
        <div class="divider"></div>
        <small class="opacity-70">
          &copy; {{ "now"|date('Y') }} <span class="brand">{{ __('People & Pixel')|e }}</span>. {{ __('All rights reserved.')|e }}
        </small>
    </div>
</footer>
