<footer style="margin-top:4rem;">
    <div class="ui container">
        <div class="ui divider"></div>
        <small>&copy; {{ "now"|date('Y') }} {{ __('People & Pixel')|e }}. {{ __('All rights reserved.')|e }}</small>
    </div>
</footer>
