{% extends 'layout.twig' %}
{% block content %}
<section>
  <h2>403 – {{ __('Forbidden')|e }}</h2>
  <p>{{ __('You do not have permission to access this resource.')|e }}</p>
  <p><a href="{{ url('/') }}">&larr; {{ __('Back to home')|e }}</a></p>
</section>
{% endblock %}