{% extends 'layout.twig' %}
{% block content %}
<section class="space-y-3">
  <div class="alert alert-warning">
    <span>403 – {{ __('Forbidden')|e }}</span>
  </div>
  <p class="opacity-80">{{ __('You do not have permission to access this resource.')|e }}</p>
  <p><a class="btn" href="{{ url('/') }}">&larr; {{ __('Back to home')|e }}</a></p>
</section>
{% endblock %}